USE [master]
GO
/****** Object:  Database [BanHangSieuThi]    Script Date: 10/24/2019 10:49:14 AM ******/
CREATE DATABASE [BanHangSieuThi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanHangSieuThi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BanHangSieuThi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BanHangSieuThi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BanHangSieuThi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanHangSieuThi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanHangSieuThi]
GO
/****** Object:  Table [dbo].[tblChiTietHoaDon]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [bigint] NULL,
	[ThanhTien] [bigint] NULL,
 CONSTRAINT [CTHDB_MAHD_PK] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoaDonBan]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDonBan](
	[MaHDB] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[NgayBan] [datetime] NULL,
	[TongTien] [bigint] NULL,
 CONSTRAINT [HDB_MAHDB_PK] PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhachHang]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[GT] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[LoaiKH] [nvarchar](50) NULL,
	[GhiChu] [ntext] NULL,
 CONSTRAINT [KH_MAKH_PK] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaiHang]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiHang](
	[MaLH] [varchar](10) NOT NULL,
	[TenLH] [nvarchar](50) NOT NULL,
 CONSTRAINT [LH_MALH_PK] PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhaCungCap]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhaCungCap](
	[TenNCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [char](15) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[TenNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[TenDn] [nvarchar](50) NOT NULL,
	[MatKhau] [varchar](50) NULL,
	[TenNV] [nvarchar](50) NULL,
	[GT] [varchar](3) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[TenDn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhieuBaoHanh]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuBaoHanh](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NULL,
	[MaKH] [varchar](10) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[SoLan] [int] NULL,
 CONSTRAINT [PBH_SOPHIEU_PK] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSanPham]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSanPham](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[MaLH] [varchar](10) NULL,
	[SoLuong] [int] NULL,
	[LoiNhuan] [float] NULL,
	[GiaNhap] [bigint] NULL,
	[GiaBan] [bigint] NULL,
	[MoTa] [ntext] NULL,
	[NSX] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[NhaCC] [nvarchar](50) NULL,
 CONSTRAINT [SP_MASP_PK] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tblChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HDB0000001', N'SP00000002', 1, 21716800, 21716800)
INSERT [dbo].[tblChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HDB0000001', N'SP00000003', 5, 11979100, 59895500)
INSERT [dbo].[tblChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HDB0000001', N'SP00000004', 5, 18359000, 91795000)
INSERT [dbo].[tblHoaDonBan] ([MaHDB], [MaKH], [NgayBan], [TongTien]) VALUES (N'HDB0000001', N'KH00000001', CAST(N'2015-05-18T21:27:43.000' AS DateTime), 173407300)
INSERT [dbo].[tblHoaDonBan] ([MaHDB], [MaKH], [NgayBan], [TongTien]) VALUES (N'HDB0000002', N'KH00000002', CAST(N'2015-05-18T21:33:32.000' AS DateTime), 162880300)
INSERT [dbo].[tblHoaDonBan] ([MaHDB], [MaKH], [NgayBan], [TongTien]) VALUES (N'HDB0000003', N'KH00000003', CAST(N'2015-05-18T22:26:38.000' AS DateTime), 138349900)
INSERT [dbo].[tblKhachHang] ([MaKH], [TenKH], [GT], [DiaChi], [SDT], [LoaiKH], [GhiChu]) VALUES (N'KH00000001', N'Nga', N'Nữ', N'Ninh Bình', N'016456565', N'Khách Sộp', N'')
INSERT [dbo].[tblKhachHang] ([MaKH], [TenKH], [GT], [DiaChi], [SDT], [LoaiKH], [GhiChu]) VALUES (N'KH00000002', N'Linh', N'Nữ', N'Ninh Bình', N'016456565', N'Khách Sộp', N'')
INSERT [dbo].[tblKhachHang] ([MaKH], [TenKH], [GT], [DiaChi], [SDT], [LoaiKH], [GhiChu]) VALUES (N'KH00000003', N'Lượng', N'Nam', N'Kim Sơn - Ninh Bình', N'01662405826', N'Khách VIP', N'Cần Quan tâm kĩ')
INSERT [dbo].[tblLoaiHang] ([MaLH], [TenLH]) VALUES (N'LH1       ', N'LapTop')
INSERT [dbo].[tblLoaiHang] ([MaLH], [TenLH]) VALUES (N'LH2       ', N'Máy tính bảng')
INSERT [dbo].[tblLoaiHang] ([MaLH], [TenLH]) VALUES (N'LH3       ', N'Linh kiện máy tính')
INSERT [dbo].[tblNhaCungCap] ([TenNCC], [DiaChi], [SDT]) VALUES (N'Anh Khang', N'210 Thái Hà, Trung Liệt, Đống Đa, Hà Nội', N'0435379888     ')
INSERT [dbo].[tblNhaCungCap] ([TenNCC], [DiaChi], [SDT]) VALUES (N'Ben Computer', N'74 Nguyễn Khánh Toàn, Cầu Giấy, Hà Nội', N'0437677045     ')
INSERT [dbo].[tblNhaCungCap] ([TenNCC], [DiaChi], [SDT]) VALUES (N'DMART', N'Khu đô tị mới Trung Yên, Cầu Giấy, Hà Nội', N'0436282899     ')
INSERT [dbo].[tblNhanVien] ([TenDn], [MatKhau], [TenNV], [GT], [DiaChi], [SDT]) VALUES (N'ADMIN', N'ADMIN', NULL, NULL, NULL, NULL)
INSERT [dbo].[tblNhanVien] ([TenDn], [MatKhau], [TenNV], [GT], [DiaChi], [SDT]) VALUES (N'Dung', N'123456', N'Lê Tiến Dũng', N'Nam', N'Thanh Hóa', N'0912344555')
INSERT [dbo].[tblNhanVien] ([TenDn], [MatKhau], [TenNV], [GT], [DiaChi], [SDT]) VALUES (N'Hoang Anh', N'123456', N'Lê Viết Hoàng Anh', N'Nam', N'Nghệ An', N'0987666777')
INSERT [dbo].[tblSanPham] ([MaSP], [TenSP], [MaLH], [SoLuong], [LoiNhuan], [GiaNhap], [GiaBan], [MoTa], [NSX], [HinhAnh], [NhaCC]) VALUES (N'SP00000001', N'Dell Inspiron 14 3443 70055103 Black', N'LH1       ', 4, 15, 12390000, 14248500, N'CPU Intel Core i5-5200U Broadwell (2.2Ghz upto 2.7Ghz, 3MB Cache L3)/ Ram 4GB Buss 1600Mhz/ HDD 1TB 5400rpm/ VGA Intel HD Graphic 5500/ Display 14.0" LED/ OS Ubuntu', N'Dell', N'120_5273_7737_touch.jpg', NULL)
INSERT [dbo].[tblSanPham] ([MaSP], [TenSP], [MaLH], [SoLuong], [LoiNhuan], [GiaNhap], [GiaBan], [MoTa], [NSX], [HinhAnh], [NhaCC]) VALUES (N'SP00000002', N'Dell Inspiron 13 7348 C3I5609W Silver', N'LH1       ', 267, 12, 19390000, 21716800, N'CPU Intel Core i5-5200U Broadwell (2.2Ghz upto 2.7Ghz, 3MB Cache L3)/ Ram 4GB Buss 1600Mhz/ HDD 500GB 5400rpm/ VGA Intel HD Graphic 5500/ Display 13.3" LED Touch Screen - Màn hình c?m ?ng da di?m ch?m - Xoay 360 Ð?/ OS Windows 8.1', N'Dell', N'120_5274_15009_14948_14117_dell_inspiron_773720140228051328.jpg', NULL)
INSERT [dbo].[tblSanPham] ([MaSP], [TenSP], [MaLH], [SoLuong], [LoiNhuan], [GiaNhap], [GiaBan], [MoTa], [NSX], [HinhAnh], [NhaCC]) VALUES (N'SP00000003', N'Dell Vostro 5480 VTI31008 Silver', N'LH1       ', 76, 9, 10990000, 11979100, N'CPU Intel Core i3-4005U (1.7Ghz, 3Mb Cache L3)/ Ram 4GB DDR3 1600Mhz/ HDD 500GB 5400Rpm/ VGA Intel HD Graphics 4400/ Display 14.0" LED (1366x768)/ Free Dos', N'Dell', N'120_5275_4891_.jpg', NULL)
ALTER TABLE [dbo].[tblHoaDonBan] ADD  CONSTRAINT [HDB_NB_DF]  DEFAULT (getdate()) FOR [NgayBan]
GO
ALTER TABLE [dbo].[tblPhieuBaoHanh] ADD  CONSTRAINT [PBH_NBD_DF]  DEFAULT (getdate()) FOR [NgayBatDau]
GO
ALTER TABLE [dbo].[tblChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CTHD_MAHDB_FK] FOREIGN KEY([MaHD])
REFERENCES [dbo].[tblHoaDonBan] ([MaHDB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDon] CHECK CONSTRAINT [CTHD_MAHDB_FK]
GO
ALTER TABLE [dbo].[tblChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CTHDB_MASP_FK] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tblSanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDon] CHECK CONSTRAINT [CTHDB_MASP_FK]
GO
ALTER TABLE [dbo].[tblHoaDonBan]  WITH CHECK ADD  CONSTRAINT [HDB_MAKH_FK] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tblKhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblHoaDonBan] CHECK CONSTRAINT [HDB_MAKH_FK]
GO
ALTER TABLE [dbo].[tblPhieuBaoHanh]  WITH CHECK ADD  CONSTRAINT [PBH_MAKH_FK] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tblKhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblPhieuBaoHanh] CHECK CONSTRAINT [PBH_MAKH_FK]
GO
ALTER TABLE [dbo].[tblPhieuBaoHanh]  WITH CHECK ADD  CONSTRAINT [PBH_MASP_FK] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tblSanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblPhieuBaoHanh] CHECK CONSTRAINT [PBH_MASP_FK]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([NhaCC])
REFERENCES [dbo].[tblNhaCungCap] ([TenNCC])
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [SP_MALH_FK] FOREIGN KEY([MaLH])
REFERENCES [dbo].[tblLoaiHang] ([MaLH])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [SP_MALH_FK]
GO
/****** Object:  StoredProcedure [dbo].[DeleteCTHDB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[DeleteCTHDB] @MaHDB varchar(10), @MaSP varchar(10)
as
begin
	delete from CHITIETHOADONBAN
	where MaHD = @MaHDB and MaSP = @MaSP
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteHDB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteHDB] @MaHDB varchar(10)
as
begin
	delete HOADONBAN
	where MaHDB = @MaHDB
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteKH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[DeleteKH] @MaKH varchar(10)
as
begin
	delete KHACHHANG
	where MaKH = @MaKH
end

GO
/****** Object:  StoredProcedure [dbo].[DeletePHB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[DeletePHB] @MaPhieu varchar(10)
as
begin
	Delete PHIEUBAOHANH
	where SoPhieu = @MaPhieu
end

GO
/****** Object:  StoredProcedure [dbo].[InsertCTHDB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertCTHDB] @MaHDB varchar(10), @MaSP varchar(10), @SoLuong int, @dongia float, @ThanhTien float
as
begin
	insert into CHITIETHOADONBAN values
	(@MaHDB, @MaSP, @SoLuong, CONVERT(bigint, @dongia), convert(bigint, @ThanhTien))
end

GO
/****** Object:  StoredProcedure [dbo].[InsertHDB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertHDB] @MaKH varchar(10), @NgayBan datetime, @TongTien bigint
as
begin
	declare @MaHDB varchar(10)
	declare @Sott int
	declare contro CURSOR forward_only for select MaHDB from HOADONBAN
	set @Sott = 0

	open contro
	fetch next from contro into @MaHDB
	while(@@FETCH_STATUS = 0)
	BEGIN
		if((CAST(right(@MaHDB, 7) as int) - @sott) = 1)
			begin
				set @Sott = CAST(right(@MaHDB, 7) as int)
			end
		else break;
		fetch next from contro into @MaHDB
	end

	declare @cdai int
	declare @i int
	set @MaHDB = CAST((@sott + 1) as varchar(7))
	set @cdai = LEN(@MaHDB)
	set @i = 1
	while ( @i <= 7 - @cdai)
	begin
		set @MaHDB = '0' + @MaHDB
		set @i = @i + 1
	end
	set @MaHDB = 'HDB' + @MaHDB

	insert into HOADONBAN(MaHDB, MaKH, NgayBan, TongTien) values ( @MaHDB, @MaKH, @NgayBan, @TongTien)
	select @MaHDB
	close contro
	deallocate contro
end

GO
/****** Object:  StoredProcedure [dbo].[InsertKH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--pro insert:
create PROC [dbo].[InsertKH] @TenKH nvarchar(50), @gt nvarchar(5), @DC nvarchar(50), @SDT varchar(15), @LoaiKH nvarchar(50), @ghichu ntext
as 
begin
	declare @MaKH varchar(10)
	declare @Sott int
	declare contro CURSOR forward_only for select MaKH from khachhang
	set @Sott = 0

	open contro
	fetch next from contro into @MaKH
	while(@@FETCH_STATUS = 0)
	BEGIN
		if((CAST(right(@MaKH, 8) as int) - @sott) = 1)
			begin
				set @Sott = CAST(right(@MaKH, 8) as int)
			end
		else break;
		fetch next from contro into @MaKH
	end

	declare @cdai int
	declare @i int
	set @MaKH = CAST((@sott + 1) as varchar(8))
	set @cdai = LEN(@makh)
	set @i = 1
	while ( @i <= 8 - @cdai)
	begin
		set @MaKH = '0' + @MaKH
		set @i = @i + 1
	end
	set @MaKH = 'KH' + @MaKH

	insert into khachhang (MaKH, TenKH, GT, DiaChi, SDT, LoaiKH, GhiChu) values ( @MaKH, @TenKH, @gt, @DC, @SDT, @LoaiKH, @ghichu)
	select @MaKH
	close contro
	deallocate contro
end

GO
/****** Object:  StoredProcedure [dbo].[InsertPBH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertPBH] @MaSP varchar(10), @MaKH varchar (10), @NgayBD date, @NgayKT date, @SoLan int
as
begin
		declare @MaPhieu varchar(10)
	declare @Sott1 int
	declare contro CURSOR forward_only for select SoPhieu from PHIEUBAOHANH
	set @Sott1 = 0

	open contro
	fetch next from contro into @MaPhieu
	while(@@FETCH_STATUS = 0)
	BEGIN
		if((CAST(right(@MaPhieu, 7) as int) - @Sott1) = 1) 
			begin
				set @Sott1 = CAST(right(@MaPhieu, 7) as int)
			end
		else break;
		fetch next from contro into @MaPhieu
	end

	declare @cdai int
	declare @i int
	set @MaPhieu = CAST((@Sott1 + 1) as varchar(8))
	set @cdai = LEN(@MaPhieu)
	set @i = 1
	while ( @i <= 7 - @cdai)
	begin
		set @MaPhieu = '0' + @MaPhieu
		set @i = @i + 1
	end
	set @MaPhieu = 'PBH' + @MaPhieu

	insert into PHIEUBAOHANH(SoPhieu,MaKH, MaSP, NgayBatDau, NgayKetThuc, SoLan) values ( @MaPhieu, @MaKH, @MaSP, @NgayBD, @NgayKT, @SoLan)
	select @MaPhieu
	close contro
	deallocate contro
end

--

GO
/****** Object:  StoredProcedure [dbo].[InsertPBH2]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertPBH2] (@SoPhieu varchar(10), @MaSP varchar(10), @MaKH varchar(10), @NgayBatDau datetime, @NgayKetThuc datetime,@SoLan int)
as
begin
	insert into PHIEUBAOHANH values
	(@SoPhieu, @MaSP, @MaKH, CONVERT(datetime, @NgayBatDau), convert(datetime, @NgayKetThuc),CONVERT(int,@SoLan))
end
GO
/****** Object:  StoredProcedure [dbo].[KetNoiSP_LH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[KetNoiSP_LH]
as
begin
	SELECT     dbo.SANPHAM.MaSP, dbo.SANPHAM.TenSP, dbo.LOAIHANG.TenLH, dbo.SANPHAM.NSX, dbo.SANPHAM.GiaBan, dbo.SANPHAM.SoLuong, 
                      dbo.SANPHAM.HinhAnh
	FROM         dbo.SANPHAM INNER JOIN
                      dbo.LOAIHANG ON dbo.SANPHAM.MaLH = dbo.LOAIHANG.MaLH 
end

GO
/****** Object:  StoredProcedure [dbo].[MuaNhieuNhat]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[MuaNhieuNhat]
as
begin
	select top 10 *
	from (SELECT     dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan, SUM(dbo.CHITIETHOADONBAN.ThanhTien) 
                      AS TongTien
	FROM         dbo.HOADONBAN INNER JOIN
						  dbo.KHACHHANG ON dbo.HOADONBAN.MaKH = dbo.KHACHHANG.MaKH INNER JOIN
						  dbo.CHITIETHOADONBAN ON dbo.HOADONBAN.MaHDB = dbo.CHITIETHOADONBAN.MaHD
	GROUP BY dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan) as temp
	order by temp.TongTien DESC
end

GO
/****** Object:  StoredProcedure [dbo].[PhieuNhap]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PhieuNhap] @mancc varchar(10)
AS
BEGIN
	SELECT MaHDN, NgayNhap, TongTien FROM HOADONNHAP, 
	(SELECT MaHD, SUM(ThanhTien)TongTien FROM CHITIETHOADONNHAP GROUP BY MaHD) a
	WHERE MaNCC = @mancc AND MaHDN = MaHD
END

GO
/****** Object:  StoredProcedure [dbo].[SearchDCKH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SearchDCKH] @str nvarchar(50)
as
begin
	select *
	from KHACHHANG
	where DiaChi like '%'+ @str + '%'
end

GO
/****** Object:  StoredProcedure [dbo].[SearchLoaiKH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SearchLoaiKH] @str nvarchar(50)
as
begin
	select *
	from KHACHHANG
	where LoaiKH like '%'+ @str + '%'
end

GO
/****** Object:  StoredProcedure [dbo].[SearchTenKH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SearchTenKH] @str nvarchar(50)
as
begin
	select *
	from KHACHHANG
	where TenKH like '%'+ @str + '%'
end

GO
/****** Object:  StoredProcedure [dbo].[SearchTenLH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SearchTenLH] @str nvarchar(50)
as
begin
	SELECT     dbo.SANPHAM.MaSP, dbo.SANPHAM.TenSP, dbo.LOAIHANG.TenLH, dbo.SANPHAM.NSX, dbo.SANPHAM.GiaBan, dbo.SANPHAM.SoLuong, 
                      dbo.SANPHAM.HinhAnh
	FROM         dbo.SANPHAM INNER JOIN
						  dbo.LOAIHANG ON dbo.SANPHAM.MaLH = dbo.LOAIHANG.MaLH
	WHERE     (dbo.LOAIHANG.TenLH LIKE N'%' + @str + N'%')
end

GO
/****** Object:  StoredProcedure [dbo].[SearchTenNSX]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SearchTenNSX] @str nvarchar(50)
as
begin
	SELECT     dbo.SANPHAM.MaSP, dbo.SANPHAM.TenSP, dbo.LOAIHANG.TenLH, dbo.SANPHAM.NSX, dbo.SANPHAM.GiaBan, dbo.SANPHAM.SoLuong, 
                      dbo.SANPHAM.HinhAnh
	FROM         dbo.SANPHAM INNER JOIN
						  dbo.LOAIHANG ON dbo.SANPHAM.MaLH = dbo.LOAIHANG.MaLH
	WHERE     (NSX LIKE N'%' + @str + N'%')
end

GO
/****** Object:  StoredProcedure [dbo].[SearchTenSP]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SearchTenSP] @str nvarchar(50)
as
begin
	SELECT     dbo.SANPHAM.MaSP, dbo.SANPHAM.TenSP, dbo.LOAIHANG.TenLH, dbo.SANPHAM.NSX, dbo.SANPHAM.GiaBan, dbo.SANPHAM.SoLuong, 
                      dbo.SANPHAM.HinhAnh
	FROM         dbo.SANPHAM INNER JOIN
						  dbo.LOAIHANG ON dbo.SANPHAM.MaLH = dbo.LOAIHANG.MaLH
	WHERE     (dbo.SANPHAM.TenSP LIKE N'%' + @str + N'%')
end

GO
/****** Object:  StoredProcedure [dbo].[Show10KH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Show10KH]
as
begin
		select top 10 *
	from (

		select kh.*, temp.TongTien
		from (SELECT  dbo.KHACHHANG.MaKH, SUM(dbo.HOADONBAN.TongTien) 
						  AS TongTien
		FROM         dbo.HOADONBAN INNER JOIN
							  dbo.KHACHHANG ON dbo.HOADONBAN.MaKH = dbo.KHACHHANG.MaKH
		GROUP BY dbo.KHACHHANG.MaKH) as temp, KHACHHANG kh
		where temp.MaKH = kh.MaKH
	) as c
	order by c.TongTien DESC
end

GO
/****** Object:  StoredProcedure [dbo].[ShowCTHDB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ShowCTHDB]
as
begin
	SELECT     dbo.CHITIETHOADONBAN.MaHD, dbo.CHITIETHOADONBAN.MaSP, dbo.SANPHAM.TenSP, dbo.CHITIETHOADONBAN.SoLuong, dbo.CHITIETHOADONBAN.DonGia, 
                      dbo.CHITIETHOADONBAN.ThanhTien
	FROM         dbo.CHITIETHOADONBAN INNER JOIN
                      dbo.SANPHAM ON dbo.CHITIETHOADONBAN.MaSP = dbo.SANPHAM.MaSP
end

GO
/****** Object:  StoredProcedure [dbo].[ShowCTHDB2]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ShowCTHDB2] @MaHDB varchar(10)
as
begin
	SELECT     dbo.CHITIETHOADONBAN.MaHD, dbo.CHITIETHOADONBAN.MaSP, dbo.SANPHAM.TenSP, dbo.CHITIETHOADONBAN.SoLuong, dbo.CHITIETHOADONBAN.DonGia, 
                      dbo.CHITIETHOADONBAN.ThanhTien
	FROM         dbo.CHITIETHOADONBAN INNER JOIN
                      dbo.SANPHAM ON dbo.CHITIETHOADONBAN.MaSP = dbo.SANPHAM.MaSP
    where dbo.CHITIETHOADONBAN.MaHD = @MaHDB
end

GO
/****** Object:  StoredProcedure [dbo].[ShowHDB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ShowHDB]
as
begin
	SELECT     dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan, SUM(dbo.CHITIETHOADONBAN.ThanhTien) 
                      AS TongTien
	FROM         dbo.HOADONBAN INNER JOIN
						  dbo.KHACHHANG ON dbo.HOADONBAN.MaKH = dbo.KHACHHANG.MaKH INNER JOIN
						  dbo.CHITIETHOADONBAN ON dbo.HOADONBAN.MaHDB = dbo.CHITIETHOADONBAN.MaHD
	GROUP BY dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan
end

GO
/****** Object:  StoredProcedure [dbo].[ShowHDB1Ngay]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ShowHDB1Ngay] @date datetime
as
begin
	SELECT     dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan, SUM(dbo.CHITIETHOADONBAN.ThanhTien) 
                      AS TongTien
	FROM         dbo.HOADONBAN INNER JOIN
						  dbo.KHACHHANG ON dbo.HOADONBAN.MaKH = dbo.KHACHHANG.MaKH INNER JOIN
						  dbo.CHITIETHOADONBAN ON dbo.HOADONBAN.MaHDB = dbo.CHITIETHOADONBAN.MaHD
	GROUP BY dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan
	having convert(date, dbo.HOADONBAN.NgayBan) = CONVERT(date, @date)
end

GO
/****** Object:  StoredProcedure [dbo].[ShowHDBNhieuNgay]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ShowHDBNhieuNgay] @date1 datetime, @date2 datetime
as
begin
	SELECT     dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan, SUM(dbo.CHITIETHOADONBAN.ThanhTien) 
                      AS TongTien
	FROM         dbo.HOADONBAN INNER JOIN
						  dbo.KHACHHANG ON dbo.HOADONBAN.MaKH = dbo.KHACHHANG.MaKH INNER JOIN
						  dbo.CHITIETHOADONBAN ON dbo.HOADONBAN.MaHDB = dbo.CHITIETHOADONBAN.MaHD
	GROUP BY dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan
	having CONVERT(date, dbo.HOADONBAN.NgayBan) between CONVERT(date, @date1) and CONVERT(date, @date2)
end

GO
/****** Object:  StoredProcedure [dbo].[ShowHDBTongTien]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ShowHDBTongTien] @tien1 bigint, @tien2 bigint
as
begin
	select *
	from ( SELECT     dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan, SUM(dbo.CHITIETHOADONBAN.ThanhTien) 
                      AS TongTien
	FROM         dbo.HOADONBAN INNER JOIN
						  dbo.KHACHHANG ON dbo.HOADONBAN.MaKH = dbo.KHACHHANG.MaKH INNER JOIN
						  dbo.CHITIETHOADONBAN ON dbo.HOADONBAN.MaHDB = dbo.CHITIETHOADONBAN.MaHD
	GROUP BY dbo.HOADONBAN.MaHDB, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.HOADONBAN.NgayBan
	) as temp
	where temp.Tongtien >= @tien1 and temp.tongtien < @tien2
end

GO
/****** Object:  StoredProcedure [dbo].[ShowKHNhieuNgay]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ShowKHNhieuNgay] @date1 datetime, @date2 datetime
as
begin
	SELECT  dbo.KHACHHANG.*
	FROM         dbo.HOADONBAN INNER JOIN
						  dbo.KHACHHANG ON dbo.HOADONBAN.MaKH = dbo.KHACHHANG.MaKH
	where CONVERT(date, dbo.HOADONBAN.NgayBan) between CONVERT(date, @date1) and CONVERT(date, @date2)
end

GO
/****** Object:  StoredProcedure [dbo].[ShowPBH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ShowPBH]
as
begin
	SELECT     dbo.PHIEUBAOHANH.SoPhieu, dbo.SANPHAM.MaSP, dbo.SANPHAM.TenSP, dbo.KHACHHANG.MaKH, dbo.KHACHHANG.TenKH, dbo.PHIEUBAOHANH.NgayBatDau, 
						  dbo.PHIEUBAOHANH.NgayKetThuc, dbo.PHIEUBAOHANH.SoLan
	FROM         dbo.PHIEUBAOHANH INNER JOIN
                      dbo.SANPHAM ON dbo.PHIEUBAOHANH.MaSP = dbo.SANPHAM.MaSP INNER JOIN
                      dbo.KHACHHANG ON dbo.PHIEUBAOHANH.MaKH = dbo.KHACHHANG.MaKH
end

GO
/****** Object:  StoredProcedure [dbo].[ShowSPBanChayNhat]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ShowSPBanChayNhat]
as
begin
	select a.*, b.SoLuongBan
	from SANPHAM a, 
		(SELECT     dbo.SANPHAM.MaSP, SUM(dbo.CHITIETHOADONBAN.SoLuong) AS SoLuongBan
		FROM         dbo.SANPHAM INNER JOIN
						  dbo.CHITIETHOADONBAN ON dbo.SANPHAM.MaSP = dbo.CHITIETHOADONBAN.MaSP
		GROUP BY dbo.SANPHAM.MaSP
		having SUM(dbo.CHITIETHOADONBAN.SoLuong) = (select MAX(SoLuongBan)
			from(
			SELECT     dbo.SANPHAM.MaSP, SUM(dbo.CHITIETHOADONBAN.SoLuong) AS SoLuongBan
			FROM         dbo.SANPHAM INNER JOIN
							  dbo.CHITIETHOADONBAN ON dbo.SANPHAM.MaSP = dbo.CHITIETHOADONBAN.MaSP
			GROUP BY dbo.SANPHAM.MaSP
			) as temp)
		) b
	where a.MaSP = b.MaSP
end

GO
/****** Object:  StoredProcedure [dbo].[SuaCTHD]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaCTHD] @mahd varchar(10), @masp nvarchar(50), @soluong int, @dongia float, @thanhtien float
AS
BEGIN
UPDATE CHITIETHOADONNHAP SET MaSP = @masp, SoLuong = @soluong, DonGia = @dongia, ThanhTien = @thanhtien
WHERE MaHD = @mahd
END

GO
/****** Object:  StoredProcedure [dbo].[SuaHDN]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaHDN] @mahdn varchar(10), @mancc nvarchar(50), @ngaynhap date
AS
BEGIN
UPDATE HOADONNHAP SET MaNCC = @mancc, NgayNhap = @ngaynhap
WHERE MaHDN = @mahdn
END

GO
/****** Object:  StoredProcedure [dbo].[SuaLH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaLH] @malh varchar(10), @tenlh nvarchar(50)
AS
BEGIN
UPDATE LOAIHANG SET TenLH = @tenlh
WHERE MaLH = @malh
END

GO
/****** Object:  StoredProcedure [dbo].[SuaNCC]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaNCC] @mancc varchar(10), @tenncc nvarchar(50), @diachi nvarchar(50), @sdt varchar(15)
AS
BEGIN
UPDATE NHACUNGCAP SET TenNCC = @tenncc, DiaChi = @diachi, SDT = @sdt
WHERE MaNCC = @mancc
END

GO
/****** Object:  StoredProcedure [dbo].[SuaNhanVien]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaNhanVien](@TenDn nvarchar(50), @MatKhau varchar(50), @TenNV nvarchar(50), @GT varchar(3), @DiaChi nvarchar(50), @SDT nvarchar(50))
AS
BEGIN
	UPDATE NHANVIEN SET MatKhau=@MatKhau, TenNV=@TenNV, GT=@GT, DiaChi=@DiaChi, SDT=@SDT
						   WHERE TenDn=@TenDn
END
GO
/****** Object:  StoredProcedure [dbo].[SuaSL]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaSL] @masp varchar(10), @sl int
AS
BEGIN
	UPDATE SANPHAM SET SoLuong = SoLuong + @sl
	WHERE MaSP = @masp
END

GO
/****** Object:  StoredProcedure [dbo].[SuaSP]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaSP] @masp varchar(10), @tensp nvarchar(50), @malh nvarchar(50), @soluong int, @loinhuan float, @gianhap bigint, @mota text, @nsx nvarchar(50), @hinhanh nvarchar(100)
AS
BEGIN
UPDATE SANPHAM SET TenSP = @tensp,
MaLH = @malh, SoLuong = @soluong, GiaNhap = @gianhap, GiaBan = @gianhap+@gianhap*@loinhuan/100, MoTa = @mota, NSX = @nsx, LoiNhuan = @loinhuan, HinhAnh = @hinhanh
WHERE MaSP = @masp
END

GO
/****** Object:  StoredProcedure [dbo].[ThemCTHD]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemCTHD] @mahd varchar(10), @masp varchar(10), @soluong int, @dongia float, @thanhtien float
AS
BEGIN
INSERT INTO CHITIETHOADONNHAP(MaHD, MaSP, SoLuong, DonGia, ThanhTien) values (@mahd, @masp, @soluong, @dongia, @thanhtien)
END

GO
/****** Object:  StoredProcedure [dbo].[ThemGiaBan]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemGiaBan] @masp varchar(10), @gia float
AS
BEGIN
	UPDATE SANPHAM SET GiaBan = @gia + @gia * LoiNhuan / 100
	WHERE MaSP = @masp
END

GO
/****** Object:  StoredProcedure [dbo].[ThemHDN]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemHDN] @mancc nvarchar(50), @ngaynhap date
AS
BEGIN
DECLARE @MaHDN varchar(10)
DECLARE @Sott int
DECLARE contro CURSOR FORWARD_ONLY FOR SELECT MaHDN from HOADONNHAP
SET @Sott = 0

OPEN contro
FETCH NEXT FROM contro INTO @MaHDN
WHILE(@@FETCH_STATUS = 0)
BEGIN
	IF((CAST(right(@MaHDN, 7) AS int) - @sott) = 1)
		BEGIN
			SET @Sott = @Sott + 1
		END
	ELSE BREAK
	FETCH NEXT FROM contro INTO @MaHDN
END
DECLARE @cdai int
DECLARE @i int
SET @MaHDN = CAST((@sott + 1) as varchar(8))
SET @cdai = LEN(@MaHDN)
SET @i = 1
while ( @i <= 7 - @cdai)
BEGIN
	SET @MaHDN = '0' + @MaHDN
	SET @i = @i + 1
END
SET @MaHDN = 'HDN' + @MaHDN

INSERT INTO HOADONNHAP(MaHDN, MaNCC, NgayNhap) values (@MaHDN, @mancc, @ngaynhap)
SELECT @MaHDN
CLOSE contro
DEALLOCATE contro
END

GO
/****** Object:  StoredProcedure [dbo].[ThemLH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----PROC Thêm sản phẩm
CREATE PROC [dbo].[ThemLH] @tenlh nvarchar(50)
AS
BEGIN
DECLARE @MaLH varchar(10)
DECLARE @Sott int
DECLARE contro CURSOR FORWARD_ONLY FOR SELECT MaLH from LOAIHANG
SET @Sott = 0

OPEN contro
FETCH NEXT FROM contro INTO @MaLH
WHILE(@@FETCH_STATUS = 0)
BEGIN
	IF((CAST(right(@MaLH, 8) AS int) - @sott) = 1)
		BEGIN
			SET @Sott = @Sott + 1
		END
	ELSE BREAK
	FETCH NEXT FROM contro INTO @MaLH
END
DECLARE @cdai int
DECLARE @i int
SET @MaLH = CAST((@sott + 1) as varchar(8))
SET @cdai = LEN(@MaLH)
SET @i = 1
while ( @i <= 8 - @cdai)
BEGIN
	SET @MaLH = '0' + @MaLH
	SET @i = @i + 1
END
SET @MaLH = 'LH' + @MaLH

INSERT INTO LOAIHANG(MaLH, TenLH) values (@MaLH, @tenlh)
CLOSE contro
DEALLOCATE contro
END

----exec DanhMaKH @tenKH = N'Hiếu', @dc = N'Thái Nguyên', @SDT = '09127862476', @LoaiKH = N'Khách VIP'

--CREATE PROC SuaLH @malh varchar(10), @tenlh nvarchar(50)
--AS
--BEGIN
--UPDATE LOAIHANG SET TenLH = @tenlh
--WHERE MaLH = @malh
--END

--CREATE PROC XoaLH @malh varchar(10)
--AS
--BEGIN
--DELETE FROM LOAIHANG WHERE MaLH = @malh
--END

GO
/****** Object:  StoredProcedure [dbo].[ThemNCC]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----PROC Thêm sản phẩm
CREATE PROC [dbo].[ThemNCC] @tenlh nvarchar(50), @diachi nvarchar(50), @sdt varchar(15)
AS
BEGIN
DECLARE @MaNCC varchar(10)
DECLARE @Sott int
DECLARE contro CURSOR FORWARD_ONLY FOR SELECT MaNCC from NHACUNGCAP
SET @Sott = 0

OPEN contro
FETCH NEXT FROM contro INTO @MaNCC
WHILE(@@FETCH_STATUS = 0)
BEGIN
	IF((CAST(right(@MaNCC, 7) AS int) - @sott) = 1)
		BEGIN
			SET @Sott = @Sott + 1
		END
	ELSE BREAK
	FETCH NEXT FROM contro INTO @MaNCC
END
DECLARE @cdai int
DECLARE @i int
SET @MaNCC = CAST((@sott + 1) as varchar(8))
SET @cdai = LEN(@MaNCC)
SET @i = 1
while ( @i <= 7 - @cdai)
BEGIN
	SET @MaNCC = '0' + @MaNCC
	SET @i = @i + 1
END
SET @MaNCC = 'NCC' + @MaNCC

INSERT INTO NHACUNGCAP(MaNCC, TenNCC, DiaChi, SDT) values (@MaNCC, @tenlh, @diachi, @sdt)
CLOSE contro
DEALLOCATE contro
END

----exec DanhMaKH @tenKH = N'Hiếu', @dc = N'Thái Nguyên', @SDT = '09127862476', @LoaiKH = N'Khách VIP'

--CREATE PROC SuaNCC @mancc varchar(10), @tenncc nvarchar(50), @diachi nvarchar(50), @sdt varchar(15)
--AS
--BEGIN
--UPDATE NHACUNGCAP SET TenNCC = @tenncc, DiaChi = @diachi, SDT = @sdt
--WHERE MaNCC = @mancc
--END

--CREATE PROC XoaNCC @mancc varchar(10)
--AS
--BEGIN
--DELETE FROM NHACUNGCAP WHERE MaNCC = @mancc
--END

GO
/****** Object:  StoredProcedure [dbo].[ThemSP]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemSP] @tensp nvarchar(50), @malh nvarchar(50), @soluong int, @loinhuan float, @gianhap bigint, @mota text, @nsx nvarchar(50), @hinhanh nvarchar(100)
AS
BEGIN
DECLARE @MaSP varchar(10)
DECLARE @Sott int
DECLARE contro CURSOR FORWARD_ONLY FOR SELECT MaSP from SANPHAM
SET @Sott = 0

OPEN contro
FETCH NEXT FROM contro INTO @MaSP
WHILE(@@FETCH_STATUS = 0)
BEGIN
	IF((CAST(right(@MaSP, 8) AS int) - @sott) = 1)
		BEGIN
			SET @Sott = CAST(right(@MaSP, 8) AS int)
		END
	ELSE BREAK
	FETCH NEXT FROM contro INTO @MaSP
END

DECLARE @cdai int
DECLARE @i int
SET @MaSP = CAST((@sott + 1) as varchar(8))
SET @cdai = LEN(@MaSP)
SET @i = 1
while ( @i <= 8 - @cdai)
BEGIN
	SET @MaSP = '0' + @MaSP
	SET @i = @i + 1
END
SET @MaSP = 'SP' + @MaSP

INSERT INTO SANPHAM(MaSP, TenSP, MaLH, SoLuong, LoiNhuan, GiaNhap, GiaBan, MoTa, NSX, HinhAnh) values ( @MaSP, @tensp, @malh, @soluong, @loinhuan, @gianhap, (@gianhap+@gianhap*@loinhuan/100), @mota, @nsx, @hinhanh)
SELECT @MaSP
CLOSE contro
DEALLOCATE contro
END

GO
/****** Object:  StoredProcedure [dbo].[ThongKe_SP]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThongKe_SP]
as
select MaSP as'Mã sản phẩm', TenSP as 'Tên sản phẩm',SoLuong as'Số lượng', GiaBan as'Giá bán',NSX from tblSanPham
GO
/****** Object:  StoredProcedure [dbo].[ThongKeHDN]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKeHDN] @ngaydau date, @ngaycuoi date
AS
BEGIN
	SELECT * FROM HOADONNHAP
	WHERE NgayNhap BETWEEN @ngaydau AND @ngaycuoi
END

GO
/****** Object:  StoredProcedure [dbo].[ThongKeSPB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKeSPB] @ngaydau date, @ngaycuoi date
AS
BEGIN
	SELECT sp.MaSP, TenSP, LoiNhuan, GiaNhap, GiaBan, MoTa, NSX, sp.SoLuong
	FROM SANPHAM sp, HOADONBAN hdb, CHITIETHOADONBAN cthdb
	WHERE sp.MaSP = cthdb.MaSP AND hdb.MaHDB = cthdb.MaHD AND CONVERT(date, NgayBan) BETWEEN @ngaydau AND @ngaycuoi
END

GO
/****** Object:  StoredProcedure [dbo].[ThongKeTop10]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKeTop10] @ngaydau date, @ngaycuoi date
AS
BEGIN
	SELECT TOP(10)(b.soluong)soluong, sp.MaSP, sp.TenSP, sp.LoiNhuan, sp.GiaNhap, sp.GiaBan, sp.MoTa, sp.NSX FROM SANPHAM sp,
	(SELECT a.MaSP as masp,  SUM(a.sls)soluong
	FROM  (SELECT cthdb.MaSP, NgayBan, SUM(cthdb.SoLuong)sls
		FROM CHITIETHOADONBAN cthdb, HOADONBAN hdb 
		WHERE cthdb.MaHD = hdb.MaHDB 
		GROUP BY cthdb.MaSP, NgayBan
		HAVING CONVERT(date, NgayBan) BETWEEN @ngaydau AND @ngaycuoi) a
GROUP BY a.MaSP) b
WHERE b.masp = sp.MaSP
END

GO
/****** Object:  StoredProcedure [dbo].[TongTien]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TongTien] @mahd varchar(10)
AS
BEGIN
	DECLARE @tongtien bigint
	SELECT @tongtien = SUM(ThanhTien)
	FROM CHITIETHOADONNHAP WHERE MaHD = @mahd
	SELECT @tongtien
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateCTHDB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateCTHDB] (@MaHDB varchar(10), @MaSP varchar(10), @SoLuong int, @dongia float, @ThanhTien float)
as
begin
	UPDATE  CHITIETHOADONBAN SET MaSP=@MaSP, SoLuong=@SoLuong,DonGia=@dongia, ThanhTien=@ThanhTien
	WHERE MaHD=@MaHDB
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateHDB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateHDB] @MaHDB varchar(10)
as
begin
	update HOADONBAN
	set  TongTien = temp.TongTien
	from (SELECT  SUM(dbo.CHITIETHOADONBAN.ThanhTien) AS TongTien
			FROM dbo.HOADONBAN INNER JOIN  dbo.CHITIETHOADONBAN ON dbo.HOADONBAN.MaHDB = dbo.CHITIETHOADONBAN.MaHD
			where  dbo.HOADONBAN.MaHDB = @MaHDB
	GROUP BY dbo.HOADONBAN.MaHDB) as temp
	where MaHDB = @MaHDB
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateKH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[UpdateKH] @MaKH varchar(10), @TenKH nvarchar(50), @gt nvarchar(5), @DC nvarchar(50), @SDT varchar(15), @LoaiKH nvarchar(50), @ghichu ntext
as
begin
	update KHACHHANG
	set TenKH = @TenKH, GT = @gt, DiaChi = @DC, SDT = @SDT, LoaiKH = @LoaiKH, GhiChu = @ghichu
	where MaKH = @MaKH
end

GO
/****** Object:  StoredProcedure [dbo].[UpdatePHB]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdatePHB] @MaPhieu varchar(10), @MaSP varchar(10), @MaKH varchar (10), @NgayBD date, @NgayKT date, @SoLan int
as
begin
	update PHIEUBAOHANH
	set  MaKH = @MaKH, MaSP = @MaSP, NgayBatDau = @NgayBD, NgayKetThuc = @NgayKT, SoLan = @SoLan
	where SoPhieu = @MaPhieu
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateSLBan]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[UpdateSLBan] @masp varchar(10), @sl int
AS
BEGIN
	UPDATE SANPHAM SET SoLuong = SoLuong - @sl
	WHERE MaSP = @masp
END

GO
/****** Object:  StoredProcedure [dbo].[Xoa_NV]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Xoa_NV] (@TenDn nvarchar(10))
AS
BEGIN
	DELETE FROM NHANVIEN WHERE TenDn = @TenDn
END
GO
/****** Object:  StoredProcedure [dbo].[XoaCTHD]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaCTHD] @mahd varchar(10), @masp varchar(10)
AS
BEGIN
DELETE FROM CHITIETHOADONNHAP WHERE MaHD = @mahd AND MaSP = @masp
END

GO
/****** Object:  StoredProcedure [dbo].[XoaHDN]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaHDN] @mahdn varchar(10)
AS
BEGIN
DELETE FROM HOADONNHAP WHERE MaHDN = @mahdn
END

GO
/****** Object:  StoredProcedure [dbo].[XoaLH]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaLH] @malh varchar(10)
AS
BEGIN
DELETE FROM LOAIHANG WHERE MaLH = @malh
END

GO
/****** Object:  StoredProcedure [dbo].[XoaNCC]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaNCC] @mancc varchar(10)
AS
BEGIN
DELETE FROM NHACUNGCAP WHERE MaNCC = @mancc
END

GO
/****** Object:  StoredProcedure [dbo].[XoaSP]    Script Date: 10/24/2019 10:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaSP] @masp varchar(10)
AS
BEGIN
DELETE FROM SANPHAM WHERE MaSP = @masp
END

GO
USE [master]
GO
